<app-navbar></app-navbar>
<div class="content">
  <h2 class="cadastre">Cadastre seus Sistemas</h2>
  <div class="abaixo">
    <div class="interacts">
      <form (ngSubmit)="submitNewSyst()" [formGroup]="form" #formDir="ngForm">
        <div class="inserts">
          <label>Nome</label>
          <input
            type="text"
            placeholder="Dê um nome ao novo sistema"
            formControlName="nomeSystem"
            required
            [ngClass]="{
              'is-invalid':
                form.get('nomeSystem')?.['invalid'] &&
                (form.get('nomeSystem')?.touched || formDir.submitted)
            }"
          />
          <div
            *ngIf="this.form.get('nomeSystem')!.invalid && (this.form.get('nomeSystem')!.touched || formDir.submitted)"
            class="invalid"
          >
            <p>Nome é obrigatório</p>
          </div>
        </div>
        <div class="inserts">
          <label>Tamanho do Tanque</label>
          <input
            type="number"
            placeholder="Quantidade em Litros"
            formControlName="tamanhoTanque"
            required
            [ngClass]="{
              'is-invalid':
                form.get('tamanhoTanque')?.['invalid'] &&
                (form.get('tamanhoTanque')?.touched || formDir.submitted)
            }"
          />
          <div
            *ngIf="this.form.get('tamanhoTanque')!.invalid && (this.form.get('tamanhoTanque')!.touched || formDir.submitted)"
            class="invalid"
          >
            <p>O tamanho do tanque é obrigatório</p>
          </div>
        </div>
        <div class="inserts">
          <label>Espécie dos Peixes</label>
          <div class="custom-select">
            <select formControlName="idPeixe">
              <option value="0">Tilápia</option>
              <option value="1">Saint peter</option>
              <option value="2" [defaultSelected]="2">Carpa koi</option>
              <option value="3">Peixe Aquático</option>
            </select>
            <div class="select-arrow"></div>
          </div>
        </div>
        <div class="inserts">
          <label>Quantidade de Peixes</label>
          <input
            type="number"
            placeholder="Peixes no total"
            formControlName="qtdPeixe"
            required
            [ngClass]="{
              'is-invalid':
                form.get('qtdPeixe')?.['invalid'] &&
                (form.get('qtdPeixe')?.touched || formDir.submitted)
            }"
          />
          <div
            *ngIf="this.form.get('qtdPeixe')!.invalid && (this.form.get('qtdPeixe')!.touched || formDir.submitted)"
            class="invalid"
          >
            <p>A quantidade peixes é obrigatória</p>
          </div>
        </div>
        <button type="submit" class="envio">Salvar</button>
        <button routerLink="/systems" type="reset" class="envio cancela">
          Cancelar
        </button>
      </form>
    </div>
    <div class="engrenagens">
      <div class="gear-container">
        <img
          src="../../../assets/engr-1.svg"
          alt="Engrenagens"
          class="gear gear1"
        />
        <img
          src="../../../assets/engr-2.svg"
          alt="Engrenagens"
          class="gear gear2"
        />
        <img
          src="../../../assets/engr-3.svg"
          alt="Engrenagens"
          class="gear gear3"
        />
        <img
          src="../../../assets/engr-4.svg"
          alt="Engrenagens"
          class="gear gear4"
        />
        <img
          src="../../../assets/engr-5.svg"
          alt="Engrenagens"
          class="gear gear5"
        />
      </div>
    </div>
  </div>
</div>
