<div class="container-slide">
  <!-- <video class="picture" controls>
    <source src="https://www.youtube.com/embed/IXxZXa0kkvQ">
    Your browser does not support the video tag.
  </video> -->
  <iframe class="picture" src="https://www.youtube.com/embed/IXxZXa0kkvQ" frameborder="0" allowfullscreen ></iframe>
  <div class="txts">
    <h2 class="equipe">Um pouco sobre nossa trajetória.</h2>
    <p class="junte">
      Este vídeo mostra como começamos, nosso primeiro projeto, primeira
      idealização, onde tudo começou a se formar.
    </p>
  </div>
</div>
